    body{  font-family: "Trirong", serif !important;  

}
::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(128, 123, 123); 
    border-radius: 20px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #4e4c4c; 
    border-radius: 15px;
  }
  
  .styleQu{background-image: url(cvcd.PNG);background-size: cover;}
  .qn{background-image: url(ee52f7af-93d7-4d65-a875-bdbf745e5736.jpg);background-size: cover;}

  
    .INbtn{
        text-decoration: none;
        color: #191c22;
        border: 3px solid #b1b6b3;
        border-radius: 12px;
        background-color: #1e60f0;
        width:auto;
        font-size:x-large;
    }
    
    .INbtn:hover{background-color:rgb(231, 227, 227); border: 1px solid #78c0d8 ;  color: #008CBA;
}
   
   .edit:hover{background-color:rgba(77, 74, 74, 0.041);border: 1px solid #78c0d8; border-radius: 4% !important ;}
.edit{font-family:Georgia, 'Times New Roman', Times, serif;}
    .cardPhoto {

        background-image: url(myPIC.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 100px;
    }

    #aboutID {

        background-image: url(css-lattice-pattern.png);
        background-size: cover;

        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

   .tq:hover, #qua:hover,.Abouttext:hover, .text:hover {
        box-shadow: 0 8px 32px 0 rgb(8, 17, 141);

    }
    
    

    .text {
        box-shadow: 0 10px 20px -5px rgb(237, 237, 243),
            -10px 0 20px -5px rgb(237, 237, 243);
        margin-left: 500px;
        margin-top: 180px;
        font-size: 30px;
        padding: 5px;
        color: white;
        height: 300px;
        width: 50%;
        border-radius: 2%;
    }
    .Contacttext {
        box-shadow: 0 10px 20px -5px rgb(91, 97, 189),
            -10px 0 20px -5px rgb(91, 97, 189);
        margin-left: 100px;
        margin-top: 100px;
        font-size: 30px;
        padding: 5px;
        color: white;
        height: 300px;
        width: 53%;
    }
    .Abouttext {
        box-shadow: 0 10px 20px -5px rgb(237, 237, 243),
            -10px 0 20px -5px rgb(237, 237, 243);
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
       
        width: 55%;
         height: 60%;
        margin:120px auto auto 260px; padding: 20px ; border-left:4px inset  #1e60f0 ;
        border-bottom:3px inset  #1e60f0 ;font-size:large;
        border-radius: 2%;

            }
    .QualificationsDIV{  box-shadow: 0 10px 20px -5px rgb(31, 42, 199),
        
            -10px 0 20px -5px rgb(32, 42, 184);
            border-left: 2px solid blue;
            border-bottom:1px solid blue; 
            border-radius: 20px;
       background-color: #e1ebf169;
        font-size: 30px;
        padding: 20px;
        color: white;
        height: 77% !important; 
        width:40%;
        margin: auto;
    }
    .qff{
         box-shadow: 0 10px 20px -5px rgb(31, 42, 199),
        
        -10px 0 20px -5px rgb(32, 42, 184);
        border-left: 2px solid blue;
        border-bottom:1px solid blue; 
        border-radius: 20px;
   background-color: #e1ebf169;
    font-size: 30px;
    padding: 20px;
    color: white;
    height: 95% !important; 
    width:60%;
    margin: auto;}
    .tq {
        padding: 10px 15px 10px 15px;
        width: 24%;
        height:30% ;
        background-color: #008bba07;
        display: inline-block;
        box-shadow: 0 10px 20px -5px rgb(46, 57, 199),
            -10px 0 20px -5px rgb(91, 97, 189);
    }
    .btns {
        border: 5px solid #19256e;
        border-radius: 15px;
        background-color: rgb(73, 69, 92);
        color: white;
        font-size: large;
    }
    h6{color: rgb(52, 55, 219); margin-left: 5px;}

    #ff {

        bottom: 0;
        width: 100%;
        height: 130px;
        font-size: medium;
        background-color:
            #65879e;
        color: black;
        
    }
    .T{background-color: #070808d5;}
    @media only screen and (max-width:1000px) {
        .responsive1{max-width: 100%;height: 500vh !important;}
        .text{height: 100vh;display: block;width: 900px;margin-left: 0%;}
            .Abouttext{width: 100%;height: 600px; margin-left: 0%; text-align: center;
                .btn{margin-top: -35;}

        
        }
        .tq{width: 70%}
        .cardPhoto > div{  box-shadow:none; float: right; height: 400px; border-left:0px solid rgba(0, 0, 0, 0) !important;
            width: 50%;}
       .resRef{height: 140vh;}
        #aboutID{height: 900px }
        .qt{height: 190vh ;}
        .qua{height:900px !;}
        #ff{display: flex;flex-direction: column;height: 74vh;margin-top: 150px;}
        .responsive1>ul{width:100%;font-size: small;}
        nav{height: 180px; border-bottom: 0px !important;}
        nav > .container > ul{background-color: #fefeff!important;}
        .qs{height:210vh !important ;}
    }
    @media only screen and (max-width:1000px) {
        .responsive1{max-width: 100%;height: 500vh !important;}
        .text{height: 100vh;display: block;width: 900px;margin-left: 0%;}
            .Abouttext{width: 100%;height: 600px; margin-left: 0%; text-align: center;
        
        }
        .tq{width: 70%}
        .cardPhoto > div{  box-shadow:none; float: right; height: 400px; border-left:0px solid rgba(0, 0, 0, 0) !important;
            width: 50%;}
       .resRef{height: 140vh;}
        #aboutID{height: 900px }
        .qt{height: 190vh ;}
        .qua{height:900px !;}
        #ff{display:inline; height: 40vh;margin-top: 350px;}
        .responsive1>ul{width:100%;font-size: small;}
        nav{height: 180px; border-bottom: 0px !important;}
        nav > .container > ul{background-color: #fefeff!important;}
        .QualificationsDIV{width:300px ; height: 159vh !important;}
        .qs{height:195vh !important ;}
    }
    @media only screen and (min-width: 1600px)and (max-width: 1900px) { 
        #ff>div {display: inline; }
    }
    @media only screen and (min-width: 1005px)and (max-width: 1610px) { 
        #ff>div {display: inline; }
        #ff>ul{display:inline}
        .resRef{margin-bottom: 1px;}
    }


/*
    @media only screen and (max-width:479px) {
        .divM>div {
            width: 100%;
        }
    }

    @media only screen and (min-width:480px) and (max-width: 767px) {
        .divM>div {
            width: calc(100% / 2);
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .divM>div {
            width: calc(100% / 3);
        }
    }

    @media only screen and (min-width: 1280px) {
        .divM>div {
            width: calc(100% / 4);
        }
    }
   */